.asside {
    padding:10px 0 12px ;
    background: #F9F9F9;
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-family: 'Roboto';
    }
    &:not(:last-child) {
        margin-right: 28px;
    }
}
