.header {
    padding: 10px 0 12px;
    background: #383838;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        font-family: 'Roboto';
    }
    &:not(:last-child) {
        margin-right: 30px;
    }
}